#navbar-custom {
    background: white;
    height: 8.9vh;
}

#avatar{
    padding: 45%
}
#rss-points {
    margin-top: 7%;
    color:blue;
}


#icon-drawer{
    color: orange;
}

#search-bar{
    color: orange
}

#search-box{
    color:orange
}

#notif-badge{
    color: blue
}